

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer"
                   href="https://www.creative-tim.com/product/material-dashboard-flask">
                   InsurerBoard
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer"
                      href="https://www.creative-tim.com/"></a>
                      - coded by TRAN-HONG, DENG et HUANG
          </div>
        </div>
    </footer>
